{% set value = (value is null ? field.default : value) %}

{% block label %}
    {% if field.label %}
        {% set hint = field.help ? 'data-hint="' ~ field.help ~ '"': '' %}
        <div class="form-label form-field hint--bottom" {{ hint }}>{{ field.label|t }}</div>
    {% endif %}
{% endblock %}
{% block field %}
    <div class="form-field">
        <div class="form-data form-markdown-wrapper cm-s-paper">
            <textarea data-grav-mdeditor="{{ { 'markdown': true }|json_encode|e('html_attr') }}" name="{{ (scope ~ field.name)|fieldName }}" {% if field.showPreview %}data-grav-preview-enabled="true"{% endif %} data-grav-urlpreview="{{ base_url }}/media/{{ admin.route|trim('/') }}.json">{{ value|join("\n")|e('html') }}</textarea>
        </div>
    </div>
{% endblock %}