{% extends "forms/field.html.twig" %}
{% set defaults = config.plugins.form %}
{% set files = defaults.files|merge(field|default([])) %}

{% macro preview(path, value, global) %}
    {% if value %}
        {% set uri = global.grav.uri %}
        {% set files = global.files %}
        {% set config = global.grav.config %}
        {% set route = global.context.route() %}
        {% set type =  global.context.content() ? 'pages' : global.plugin ? 'plugins' : global.theme ? 'themes' : 'config' %}
        {% set blueprint_name = global.blueprints.getFilename %}
        {% if type == 'pages' %}
            {% set blueprint_name = type ~ '/' ~ blueprint_name %}
        {% endif %}
        {% set blueprint = base64_encode(blueprint_name) %}
        {% set real_path = global.admin.getPagePathFromToken(path) %}

        {% if type == 'pages' %}
            {% include 'forms/fields/hidden/hidden.html.twig' with {field: {name: 'data._json.' ~ global.field.name}, value:{(value.path):value}|raw|json_encode} %}
        {% endif %}
        <div class="file-thumbnail-wrapper">
            <img class="file-thumbnail" src="{{ uri.rootUrl == '/' ? '/' : uri.rootUrl ~ '/'}}{{ real_path }}" alt="{{ path|replace({(files.destination ~ '/'): ''}) }}" />
            <a class="file-thumbnail-remove" href="{{ uri.addNonce(global.base_url_relative ~
                '/media/' ~ base64_encode(global.base_path ~ '/' ~ real_path) ~
                '/task' ~ config.system.param_sep ~ 'removeFileFromBlueprint' ~
                '/proute' ~ config.system.param_sep ~ base64_encode(route) ~
                '/blueprint' ~ config.system.param_sep ~ blueprint ~
                '/type' ~ config.system.param_sep ~ type ~
                '/field' ~ config.system.param_sep ~ files.name ~
                '/path' ~ config.system.param_sep ~ base64_encode(value.path) ~
                '/redirect' ~ config.system.param_sep ~ base64_encode(uri.path), 'admin-form', 'admin-nonce') }}">
                    <i class="fa fa-fw fa-close"></i>
            </a>
        </div>
    {% endif %}
{% endmacro %}

{% block input %}
    {% set page_can_upload = exists or (type == 'page' and not exists and not (field.destination starts with '@self' or field.destination starts with 'self@')) %}
    {% if type is not defined or page_can_upload %}

    {% for path, file in value %}
        {{ _self.preview(path, file, _context) }}
    {% endfor %}

    <div class="form-input-wrapper {% if field.fancy is not same as(false) %}form-input-file{% endif %} {{ field.size|default('xlarge') }}">
        <input
            {# required attribute structures #}
            name="{{ (scope ~ field.name)|fieldName ~ (files.multiple ? '[]' : '') }}"
            {% block input_attributes %}
                type="file"
                {% if files.multiple %}multiple="multiple"{% endif %}
                {% if files.accept %}accept="{{ files.accept|join(',') }}"{% endif %}
                {% if field.disabled or isDisabledToggleable %}disabled="disabled"{% endif %}
                {% if field.random_name %}random="true"{% endif %}
                {{ parent() }}
            {% endblock %}
        />
        {% if field.fancy is not same as(false) %}
        <p>{{ "PLUGIN_ADMIN.DROP_FILES_HERE_TO_UPLOAD"|tu|raw }}</p>
        {% endif %}
    </div>

    {% else %}
        <span class="note">{{ "PLUGIN_ADMIN.CANNOT_ADD_FILES_PAGE_NOT_SAVED"|tu|raw }}</span>
    {% endif %}
{% endblock %}
