<div class="button-group">
    {% set profiles = grav.backups.getBackupProfiles() %}
    {% set backup_url = uri.addNonce(base_url_relative ~ "/backup.json/id" ~ config.system.param_sep ~ "%BACKUP_ID/task" ~ config.system.param_sep ~ "backup", 'admin-form', 'admin-nonce') %}

    <button class="button" data-backup data-ajax="{{ backup_url|replace({'%BACKUP_ID':'0'}) }}">
        <i class="fa fa-life-ring"></i> {{ "PLUGIN_ADMIN.BACKUP_NOW"|tu }}
    </button>
    <button type="button" class="button dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-caret-down"></i>
    </button>
    <ul class="dropdown-menu">
        {% for id, profile in profiles %}
            <li>
                <a data-backup data-ajax="{{ backup_url|replace({'%BACKUP_ID':id}) }}" class="button">{{ profile.name }}</a>
            </li>
        {% endfor %}
        <li>
            <a href="{{ base_url ~ '/tools/backups' }}" class="button">Backups Manager</a>
        </li>
    </ul>
</div>
