<h1><i class="fa fa-fw fa-user"></i> {{ "PLUGIN_ADMIN.MEDIA"|tu }}: {{ media.title|e }}</h1>

<form>
    <div class="block block-text">
        <div class="form-field grid">
            <div class="form-label block size-1-3">
                <label class="">
                    {{ "PLUGIN_ADMIN_PRO.FILE"|tu|e }}
                </label>
            </div>
            <div class="form-data block size-2-3" data-grav-field="text" data-grav-disabled="false" data-grav-default="null">
                <div class="form-input-wrapper large">
                    {% if media.page.media[media.title].type == 'image' %}
                        <img src="{{media.page.media[media.title].url}}" />
                    {% else %}
                        {% if file_exists(base_path ~ '/system/images/' ~ media.page.media[media.title].thumb) %}
                            <img src="{{ base_url_relative_frontend }}/system/images/{{media.page.media[media.title].thumb}}" />
                        {% else %}
                            <img src="{{ base_url_relative_frontend }}/system/images/{{attribute(config.media, 'defaults').thumb}}" />
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="block block-text">
        <div class="form-field grid">
            <div class="form-label block size-1-3">
                <label class="">
                    {{ "PLUGIN_ADMIN_PRO.PAGE"|tu|e }}
                </label>
            </div>
            <div class="form-data block size-2-3" data-grav-field="text" data-grav-disabled="false" data-grav-default="null">
                <div class="form-input-wrapper large">
                    <a target="_blank" href="{{media.page.url}}">{{media.page.title}}</a> <code>{{media.page.route}}</code> <a target="_blank" href="{{base_url_relative}}/pages{{media.page.route}}"><span class="fa fa-pencil"></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="block block-text">
        <div class="form-field grid">
            <div class="form-label block size-1-3">
                <label class="">
                    {{ "PLUGIN_ADMIN_PRO.PATH"|tu|e }}
                </label>
            </div>
            <div class="form-data block size-2-3" data-grav-field="text" data-grav-disabled="false" data-grav-default="null">
                <div class="form-input-wrapper large">
                    <input name="groupname" value="{{media.path}}" disabled="disabled" readonly="readonly" type="text">
                </div>
            </div>
        </div>
    </div>
</form>

<h1>{{ "PLUGIN_ADMIN.METADATA"|tu }}</h1>

{% include 'partials/blueprints.html.twig' with { data: media.metadata, blueprints: admin.blueprints('admin/media/meta'), form_id: 'media-metadata' } %}

<div class="button-bar danger">
    <span class="danger-zone"></span>

    <a class="button" href="{{ uri.addNonce(grav.uri.url ~ '/task' ~ config.system.param_sep ~ 'removeMedia', 'admin-form', 'admin-nonce') }}"><i class="fa fa-fw fa-warning"></i>{{ "PLUGIN_ADMIN_PRO.REMOVE_FILE"|tu }}</a>
</div>

<div class="remodal" data-remodal-id="move" data-remodal-options="hashTracking: false">
    {% include 'partials/media-move.html.twig' with { blueprints: admin.blueprints('admin/media/move'), data: context } %}
</div>

<div class="remodal" data-remodal-id="rename" data-remodal-options="hashTracking: false">
    {% include 'partials/media-rename.html.twig' with { blueprints: admin.blueprints('admin/media/rename'), data: context } %}
</div>
