<div class="remodal theme-switcher" data-remodal-id="theme-switch-warn" data-remodal-options="hashTracking: false">
    <form>
        <h1>{{ "PLUGIN_ADMIN.SWITCHING_TO"|t }} <strong>{theme_name}</strong></h1>
        <p class="bigger">
            {{ "PLUGIN_ADMIN.SWITCHING_TO_DESCRIPTION"|t }}
        </p>
        <p class="bigger">
            {{ "PLUGIN_ADMIN.SWITCHING_TO_CONFIRMATION"|t }} <strong>{theme_name}</strong>?
        </p>
        <br>
        <div class="button-bar">
            <button data-remodal-action="cancel" class="button secondary remodal-cancel"><i class="fa fa-fw fa-close"></i> {{ "PLUGIN_ADMIN.CANCEL"|t }}</button>
            <a class="button continue" href="#"><i class="fa fa-fw fa-check"></i>{{ "PLUGIN_ADMIN.CONTINUE"|t }}</a>
        </div>
    </form>
</div>
