{% for entry in notifications if 'feed' in entry.location %}
<li class="single-notification "><span class="badge alert {{ entry.type }}">{{ entry.type|capitalize }}</span><a target="_blank" href="{{ entry.link }}" title="{{ entry.message|striptags|e('html_attr') }}">{{ e.message|raw }}</a></li>
{% endfor %}
