<div class="grav-update plugins"></div>

<h1>
    {{ installing ? "PLUGIN_ADMIN.AVAILABLE_PLUGINS"|tu : "PLUGIN_ADMIN.INSTALLED_PLUGINS"|tu }}
</h1>

<table>
    {% for slug, plugin in admin.plugins(not installing).toArray|ksort %}
        {% set data = admin.data('plugins/' ~ slug) %}

        <tr data-gpm-plugin="{{ slug|url_encode }}">
            <td class="gpm-name">
                <i class="fa fa-fw fa-{{ plugin.icon }}"></i>
                <a href="{{ base_url_relative }}/plugins/{{ slug|url_encode }}">{{ plugin.name }}</a>
                {% if admin.isTeamGrav(plugin) %}
                    <small><span class="info-reverse"><i class="fa fa-check-circle" title="{{ "PLUGIN_ADMIN.GRAV_OFFICIAL_PLUGIN"|tu }}"></i></span></small>
                {% endif %}
                {% if plugin.symlink %}
                <span class="hint--bottom"  data-hint="{{ "PLUGIN_ADMIN.PLUGIN_SYMBOLICALLY_LINKED"|tu }}">
                    <i class="fa fa-fw fa-link"></i>
                </span>
                {% endif %}
                <span class="gpm-version">v{{ plugin.version }}</span>
            </td>
            <td class="gpm-actions">
                {% if (not installing and (plugin.form.fields.enabled.type != 'hidden')) %}
                    <a class="{{ data.get('enabled') ? 'enabled' : 'disabled' }}" href="{{ uri.addNonce(base_url_relative ~ '/plugins/' ~ slug ~ '/task' ~ config.system.param_sep ~ (data.get('enabled') ? 'disable' : 'enable'), 'admin-form', 'admin-nonce') }}">
                        <i class="fa fa-fw fa-toggle-{{ data.get('enabled') ? 'on' : 'off' }}"></i>
                    </a>
                {% elseif (installing) %}
                    <a class="button" href="#" data-remodal-target="add-package" data-plugin-slug="{{ plugin.slug }}" data-plugin-action="get-plugin-dependencies"><i class="fa fa-plus"></i> {{ "PLUGIN_ADMIN.INSTALL"|tu }}</a>
                {% endif %}
                <span class="gpm-details-expand"><i class="fa fa-chevron-down"></i></span>
            </td>
            <td class="gpm-details">
                <div class="table-wrapper">
                    {% include 'partials/plugin-data.html.twig' with { plugin: plugin } %}
                </div>
            </td>
        </tr>
    {% endfor %}
</table>

<div class="remodal"
     data-remodal-id="add-package"
     data-remodal-options="hashTracking: false">
    <form>
        <div class="add-package-installing">
            <h1>Installing</h1>

            <div class="loading">
                <p>
                    Loading..
                    <span class="fa fa-spin fa-spinner"></span>
                </p>
            </div>

            <div class="install-dependencies-package-container hidden">
                <h3>The following dependencies need to be fulfilled first:</h3>

                <div class="type-install hidden">
                    <h3>Packages not installed</h3>
                    <ul></ul>
                </div>
                <div class="type-update hidden">
                    <h3>Packages already installed, but too old</h3>
                    <ul></ul>
                </div>
                <div class="type-ignore hidden">
                    <h3>Packages already installed, and version is ok, but will be updated to keep you up to date</h3>
                    <ul></ul>
                </div>

                <div class="button-bar">
                    <button data-remodal-action="cancel" class="button secondary remodal-cancel"><i class="fa fa-fw fa-close"></i> {{ "PLUGIN_ADMIN.CANCEL"|tu }}</button>
                    <a data-plugin-action="install-dependencies-and-package" class="button"><i class="fa fa-fw fa-check"></i> {{ "PLUGIN_ADMIN.CONTINUE"|tu }}</a>
                </div>
            </div>

            <div class="install-package-container hidden">
                <div class="button-bar">
                    <button data-remodal-action="cancel" class="button secondary remodal-cancel"><i class="fa fa-fw fa-close"></i> {{ "PLUGIN_ADMIN.CANCEL"|tu }}</button>
                    <a data-plugin-action="install-package" class="button"><i class="fa fa-fw fa-check"></i> {{ "PLUGIN_ADMIN.CONTINUE"|tu }}</a>
                </div>
            </div>

            <div class="installing-dependencies hidden">
                <p>
                    Installing dependencies..
                    <span class="fa fa-spin fa-spinner"></span>
                </p>
            </div>

            <div class="installing-package hidden">
                <p>
                    Installing package..
                    <span class="fa fa-spin fa-spinner"></span>
                </p>
            </div>

            <div class="installation-complete hidden">
                <p>
                    Package successfully installed.
                </p>
            </div>
        </div>

    </form>
</div>