{% set gpm = admin.gpm() %}
{% set installed = gpm.isPluginInstalled(admin.route) %}

<div class="grav-update plugin" data-gpm-plugin="{{ admin.route }}">
{% if installed and gpm.isPluginUpdatable(admin.route) %}
    {% set remote = gpm.getRepositoryPlugin(admin.route) %}
        <p>
            <i class="fa fa-bullhorn"></i>
            <strong>v{{ remote.available }}</strong> {{ "PLUGIN_ADMIN.OF_THIS_PLUGIN_IS_NOW_AVAILABLE"|tu }}!
            <a class="button button-small secondary" href="{{ uri.addNonce(base_url ~ '/plugins/' ~ plugin.slug ~ '/task' ~ config.system.param_sep ~ 'update', 'admin-nonce', 'admin-nonce') }}">{{ "PLUGIN_ADMIN.UPDATE_PLUGIN"|tu }}</a>
        </p>
{% endif %}
</div>

<h1>
    {{ plugin.name|e }}
    {% if admin.isTeamGrav(plugin) %}
        <small><span class="info-reverse"><i class="fa fa-check-circle" title="{{ "PLUGIN_ADMIN.GRAV_OFFICIAL_PLUGIN"|tu }}"></i></span></small>
    {% endif %}
    {% if plugin.symlink %}
    <small class="hint--bottom" data-hint="{{ "PLUGIN_ADMIN.PLUGIN_SYMBOLICALLY_LINKED"|tu }}">
        <i class="fa fa-fw fa-link"></i>
    </small>
    {% endif %}
    <small>{{ plugin.version ? 'v' ~ plugin.version|e }}</small>
</h1>
<div class="gpm-item-info">
    <i class="gpm-item-icon fa fa-fw fa-{{ plugin.icon }}"></i>
    {% include 'partials/plugin-data.html.twig' with { plugin: plugin } %}
</div>

{% if (installed) %}
    {% set data = admin.data('plugins/' ~ admin.route) %}
    {% include 'partials/blueprints.html.twig' with { data: data, blueprints: data.blueprints } %}

    <div class="button-bar danger">
        <span class="danger-zone"></span>
        <a class="button" href="#" data-remodal-target="delete-package"><i class="fa fa-fw fa-warning"></i> {{ "PLUGIN_ADMIN.REMOVE_PLUGIN"|tu }}</a>
    </div>
{% else %}
    <div class="button-bar success">
        <a class="button" href="{{ uri.addNonce(base_url_relative ~ '/plugins/' ~ plugin.slug ~ '/task' ~ config.system.param_sep ~ 'install', 'admin-form', 'admin-nonce') }}"><i class="fa fa-fw fa-plus"></i>{{ "PLUGIN_ADMIN.INSTALL_PLUGIN"|tu }}</a>
    </div>
{% endif %}

<div class="remodal"
     data-remodal-id="delete-package"
     data-remodal-options="hashTracking: false">
    <form>
        <div class="remove-package-confirm">
            <h1>Remove the plugin</h1>
            <p class="bigger">
                Are you sure you want to delete this plugin?
            </p>

            <div class="button-bar">
                <button data-remodal-action="cancel" class="button secondary remodal-cancel"><i class="fa fa-fw fa-close"></i> {{ "PLUGIN_ADMIN.CANCEL"|tu }}</button>
                <button data-plugin-action="remove-plugin" data-plugin-slug="{{ plugin.slug }}" class="button"><i class="fa fa-fw fa-check"></i> {{ "PLUGIN_ADMIN.CONTINUE"|tu }}</button>
            </div>
        </div>

        <div class="remove-package-dependencies hidden">
            <h1>Plugin removed successfully</h1>
            <p class="bigger">

            </p>
            <p>
                The plugin required the following dependencies, which are not required by other installed packages. If you are not using them, you can remove them directly from here.
            </p>

            <div>
                <ul class="package-dependencies-container"></ul>
            </div>
        </div>

        <div class="remove-package-done hidden">
            <h1>Plugin removed successfully</h1>
            <div class="button-bar">
                <a href="{{ base_url_relative ~ '/plugins' }}" class="button secondary"><i class="fa fa-fw fa-close"></i> {{ "PLUGIN_ADMIN.CLOSE"|tu }}</a>
            </div>
        </div>

    </form>
</div>{% include 'partials/modal-changes-detected.html.twig' %}