<div class="backups-content">

    {% set data = admin.data('config/backups') %}
    {% set backups = grav.backups.getAvailableBackups() %}
    {% set profiles = grav.backups.getBackupProfiles() %}
    {% set purge_config = grav.backups.getPurgeConfig() %}

    {% switch purge_config.trigger %}
        {% case 'number' %}
            {% set count = backups|count %}
            {% set percent_used = count / purge_config.max_backups_count * 100 %}
            {% set bar_msg = "Using " ~ count ~ " of " ~ purge_config.max_backups_count ~ " backup slots" %}
        {% case 'time' %}
            {% set last = backups|last %}
            {% set days = (date('now')).diff(last.time).days %}
            {% set percent_used = days / purge_config.max_backups_time * 100 %}
            {% set bar_msg = (purge_config.max_backups_time - days) ~ " days of backups left" %}
        {% default %}
            {% set space_used = grav.backups.getTotalBackupsSize() %}
            {% set space_available = purge_config.max_backups_space * 1024 * 1024 * 1024 %}
            {% set percent_used = space_used / space_available * 100 %}
            {% set bar_msg = "Using " ~ space_used|nicefilesize ~ " of " ~ space_available|nicefilesize %}
    {% endswitch %}

    {% if authorize(['admin.configuration_backups', 'admin.super']) %}
        <div id="admin-dashboard">
          <div id="backups-stats" class="dashboard-item">
            <div class="primary-accent default-box-shadow">
              <h1>{{ "PLUGIN_ADMIN.BACKUPS_STATS"|tu }}</h1>
              <div class="admin-statistics-chart">
                <div class="stats-info">

                    <div id="backups-usage">
                        <div class="backups-usage-wrapper">
                            {% if percent_used >= 100 %}
                                <div class="usage full"></div>
                            {% else %}
                                <div class="usage" style="width:{{ percent_used }}%"></div>
                            {% endif %}
                        </div>
                        <h1>{{ bar_msg }}</h1>
                    </div>
                </div>

                <div class="flush-bottom button-bar stats-bar">
                  <span class="stat">
                      <b>{{ backups|length }}</b>
                      <i>{{ "PLUGIN_ADMIN.BACKUPS_COUNT"|tu }}</i>
                  </span>
                  <span class="stat">
                      <b>{{ profiles|count }}</b>
                      <i>{{ "PLUGIN_ADMIN.BACKUPS_PROFILES_COUNT"|tu }}</i>
                  </span>
                    <span class="stat">
                      <b>{{ (backups|first).date|nicetime(false, false) }}</b>
                      <i>{{ "PLUGIN_ADMIN.BACKUPS_NEWEST"|tu }}</i>
                  </span>
                    <span class="stat">
                      <b>{{ (backups|last).date|nicetime(false, false) }}</b>
                      <i>{{ "PLUGIN_ADMIN.BACKUPS_OLDEST"|tu }}</i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        {% include 'partials/blueprints.html.twig' with { blueprints: data.blueprints, data: data } %}

        {% include 'partials/modal-changes-detected.html.twig' %}

    {% endif %}

</div>
