<div id="admin-users" class="users card-row grid fixed-blocks pure-g">
    {% for user in admin.users %}
        <div class="theme card-item pure-u-1-3">
          <div id="admin-user-details">
              <a href="{{ base_url_relative }}/users/{{ user.username }}">
                  <img src="http://www.gravatar.com/avatar/{{ user.email|md5 }}?s=32" />
                  <div class="admin-user-names">
                      <h4>{{ user.fullname }} ({{ user.username }})</h4>
                      <h5>{{ user.email }}</h5>
                  </div>
              </a>
            </div>
        </div>
    {% endfor %}
</div>
