{% if user.exists %}
<div class="user-details">
    <img src="http://www.gravatar.com/avatar/{{ user.email|md5 }}?s=128" />
    <p class="gravatar">{{ "PLUGIN_ADMIN.AVATAR_BY"|tu }} <a href="http://gravatar.com" target="_blank">gravatar.com</a></p>
    <h2>{{ user.fullname }}</h2>
    {% if user.title %}<h5>{{ user.title }}</h5>{% endif %}
</div>
{% else %}
<h1>{{ "PLUGIN_ADMIN.CREATE_NEW_USER"|tu }}</h1>
{% endif %}

{% include 'partials/blueprints.html.twig' with { data: user, blueprints: user.blueprints } %}

{% if user.exists and admin.user.username != user.username %}
<div class="button-bar danger">
    <span class="danger-zone"></span>
    <a class="button" href="#"><i class="fa fa-fw fa-warning"></i>{{ "PLUGIN_ADMIN.REMOVE_USER"|tu }}</a>
</div>
{% endif %}
