{% extends "forms/field.html.twig" %}

{% block input %}
    {% set permissions = grav.permissions %}
    {% set access = permissions.access(value) %}
    {% set tu = grav.twig.twig.filters['tu'] is defined %}

    {% set classes = { 0: 'status-unchecked', 1: 'status-checked', '': 'status-indeterminate' } %}

    {% if field.data_type == 'access' %}
        {% set groupsList = [] %}
        {% for action in permissions %}
            {% if (action.visible ?? true) %}
            {% set groupsList = groupsList|merge([{ label: action.label|tu, value: action.name }]) %}
            {% endif %}
        {% endfor %}

        {% set optionsList = [] %}
        {% for action in permissions.instances %}
            {% if (action.visible ?? true) %}
            {% set label  = (action.params.letter ? action.parent.label|tu ~ ' > ') ~ action.label|tu %}
            {% set optionsList = optionsList|merge([{ text: label ~ ' (' ~ action.name ~ ')', value: action.name, optgroup: action.scope }]) %}
            {% endif %}
        {% endfor %}
    {% elseif field.data_type == 'permissions' %}
        {% set groups = grav.flex.directory('grav-user-groups') %}
        {% set groupsList = [] %}
        {% set crudp = {
            create: { letter: 'c', title: 'Create', value: '' },
            read: { letter: 'r', title: 'Read', value: '' },
            update: { letter: 'u', title: 'Update', value: '' },
            delete: { letter: 'd', title: 'Delete', value: '' },
            publish: { letter: 'p', title: 'Publish', value: '' }
        } %}
        {% set optionsList = [] %}
        {% for group in groups.index %}
        {% set optionsList = optionsList|merge([{ text: group.readableName ?? group.groupname, value: group.groupname }]) %}
        {% endfor %}
    {% endif %}

    <template data-id="acl_picker-{{ field.name }}">
        <div class="permissions-item" data-field-type="{{ field.data_type }}">
            <a href="#" class="remove-item"><i class="fa fa-trash"></i></a>
            <select data-grav-selectize="{{ { options: optionsList, optgroups: groupsList }|json_encode }}"></select>

            {% if field.data_type == 'access' %}
            <div class="switch-toggle switch-grav medium switch-3">
                <input type="radio" value="1" id="{{ field.name ~ '_' }}" name="{{ (scope ~ field.name)|fieldName ~ '[]' }}" class="label1" checked>

                <label for="{{ field.name ~ '_' }}">{{ tu ? 'PLUGIN_ADMIN.ALLOWED'|tu : 'PLUGIN_ADMIN.ALLOWED'|t }}</label>

                <input type="radio" value="0" id="{{ field.name ~ '_' }}" name="{{ (scope ~ field.name)|fieldName ~ '[]' }}" class="label0">

                <label for="{{ field.name ~ '_' }}">{{ tu ? 'PLUGIN_ADMIN.DENIED'|tu : 'PLUGIN_ADMIN.DENIED'|t }}</label>

            </div>
            {% elseif field.data_type == 'permissions' %}
                <div class="crudp-container" data-field-name="{{ (scope ~ field.name)|fieldName ~ '[]' }}">
                    {% for key,button in crudp %}
                        <div>
                            <span class="checkboxes indeterminate toggleable status-unchecked hint--top"
                                  data-_check-status="0"
                                  data-hint="{{ button.title }}">
                                <input type="checkbox"
                                       id="{{ field.name ~ '_' ~ key ~ '_' }}"
                                       data-crudp-key="{{ key }}"
                                       name="{{ (scope ~ field.name)|fieldName ~ '[][' ~ key ~ ']' }}"
                                       indeterminte="false" value=" ">
                                <label for="{{ field.name ~ '_' ~ key ~ '_' }}">{{ key }}</label>
                            </span>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <button class="button add-item"><i class="fa fa-plus"></i></button>
        </div>
    </template>


    <div class="permissions-container" data-acl_picker_id="{{ field.name }}" data-acl_picker="{{ { options: optionsList, optgroups: groupsList }|json_encode }}">
        <div class="permissions-item empty-list {{ value|length ? 'hidden' }}">
            <a href="#" class="button add-item"><i class="fa fa-plus"></i></a>
        </div>


        value:
        {{ value|json_encode}}
        {% for key, access in value %}
            <div class="permissions-item" data-field-type="{{ field.data_type }}">
                <a href="#" class="remove-item"><i class="fa fa-trash"></i></a>
                <select data-grav-selectize="{{ { options: optionsList, optgroups: groupsList }|json_encode }}">
                    <option value="{{ key }}" selected>{{ key }}</option>
                </select>
                {% if field.data_type == 'access' %}
                <div class="switch-toggle switch-grav medium switch-3">
                    {% set rnd = random(100) %}
                    <input type="radio" value="1" id="{{ field.name ~ '_' ~ rnd }}" name="{{ (scope ~ field.name)|fieldName ~ '[' ~ key ~ ']' }}" class="label1" {{ access ? 'checked' }}>

                    <label for="{{ field.name ~ '_' ~ rnd }}">{{ tu ? 'PLUGIN_ADMIN.ALLOWED'|tu : 'PLUGIN_ADMIN.ALLOWED'|t }}</label>

                    {% set rnd = random(100) %}
                    <input type="radio" value="0" id="{{ field.name ~ '_' ~ rnd }}" name="{{ (scope ~ field.name)|fieldName ~ '[' ~ key ~ ']' }}" class="label0" {{ not access ? 'checked' }}>

                    <label for="{{ field.name ~ '_' ~ rnd }}">{{ tu ? 'PLUGIN_ADMIN.DENIED'|tu : 'PLUGIN_ADMIN.DENIED'|t }}</label>

                </div>
                {% elseif field.data_type == 'permissions' %}
                    <div class="crudp-container" data-field-name="{{ (scope ~ field.name)|fieldName ~ '[]' }}">
                        {% for crudp_key, button in crudp %}
                            <div>
                                {% set crudp_value = value[key][crudp_key] %}
                            <span class="checkboxes indeterminate toggleable {{ classes[crudp_value]}} hint--top"
                                  data-_check-status="{{ crudp_value == '' ? 2 : crudp_value|number }}"
                                  data-hint="{{ button.title }}">
                                <input type="checkbox"
                                       id="{{ field.name ~ '_' ~ crudp_key ~ '_' }}"
                                       data-crudp-key="{{ crudp_key }}"
                                       name="{{ (scope ~ field.name)|fieldName ~ '[' ~ key ~ '][' ~ crudp_key ~ ']' }}"
                                       indeterminate="{{ ['', 1] in crudp_value ? 'true' : 'false' }}" value="{{ crudp_value == '' ? 2 : crudp_value|number }}" {% if crudp_value == 1 %}checked{% endif %}>
                                <label for="{{ field.name ~ '_' ~ crudp_key ~ '_' }}">{{ crudp_key }}</label>
                            </span>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <button class="button add-item"><i class="fa fa-plus"></i></button>
            </div>
        {% endfor %}
    </div>
{% endblock %}
