{% set value = (value is null ? field.default : value) %}
{% set siblings = data.parent.children %}
{% set canOrder = data.order %}

<div class="form-field grid pure-g">
    <div class="form-label block size-1-3 pure-u-1-3">
        <label>
            {% if field.help %}
            <span class="tooltip" data-asTooltip-position="w" title="{{ field.help|e|tu }}">{{ field.label|tu }}</span>
            {% else %}
            {{ field.label|tu }}
            {% endif %}
            {{ field.validate.required in ['on', 'true', 1] ? '<span class="required">*</span>' }}
        </label>
    </div>
    <div class="form-data block size-2-3 pure-u-2-3">
        <div class="form-order-wrapper {{ field.size }}">

            <input
                type="hidden"
                data-order
                {% if field.disabled or isDisabledToggleable %}disabled="disabled"{% endif %}
                name="{{ (scope ~ field.name)|fieldName }}"
                value="{{ canReorder ? value : '' }}" />
            {% if not canOrder %}
                <span class="note">{{ "PLUGIN_ADMIN.ORDERING_DISABLED_BECAUSE_PAGE_NO_PREFIX"|tu|raw }}</span>
            {% endif %}

            {% if siblings|length < 200 %}
                {% set sortable_count = 0 %}
				<ul id="ordering" class="orderable {{ field.classes }}">
			    {% for page in siblings if page.order %}
					<li class="{% if page.order  == value %}drag-handle{% else %}ignore{% endif %}" data-id="{{ page.slug }}">{{ page.title|e }}</li>
                    {% set sortable_count = loop.index %}
                {% endfor %}
				</ul>
                {% if sortable_count < siblings|length %}
                <label>Unsortable Pages</label>
                <ul class="orderable disabled">
                    {% for page in siblings if not page.order %}
                        <li>{{ page.title|e }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
			{% else %}
                <span class="note">{{ "PLUGIN_ADMIN.ORDERING_DISABLED_BECAUSE_TOO_MANY_SIBLINGS"|tu }}</span>
			{% endif %}
        </div>
    </div>
</div>
