{% set delete_url = uri.addNonce(base_url_relative ~ "/backup.json/backup:%BACKUP_FILE/task" ~ config.system.param_sep ~ 'backupDelete', 'admin-form', 'admin-nonce') %}
<table class="backups-history noflex">
    <thead>
    <tr>
        <th>#</th>
        <th>Backup Date</th>
        <th>Name</th>
        <th class="right pad">Size</th>
        <th class="right pad">Action</th>
    </tr>
    </thead>
    <tbody>
    {% for backup in backups %}
        {% set encoded_name = backup.filename|base64_encode|url_encode %}
        {% set backup_delete = delete_url|replace({'%BACKUP_FILE': encoded_name}) %}
        <tr>
            <td>{{ loop.index }}</td>
            <td style="white-space: nowrap;"> <i class="fa fa-clock-o"></i> {{ backup.date }}</td>
            <td>{{ backup.title }}</td>
            <td class="right pad">{{ backup.size|nicefilesize }}</td>
            <td class="right pad">
                <a class="button button-small hint--bottom" href="{{ grav.backups.getBackupDownloadUrl(backup.path, admin.base) }}" data-hint="Download"><i class="fa fa-download"></i></a>
                <span class="button button-small danger hint--bottom" data-hint="Delete" data-ajax="{{ backup_delete }}"><i class="fa fa-close"></i></span>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
