{% set index = uri.param('index') %}

{% for file in admin.files(true, index) %}
    {% set file_url = file.file.relativePath %}
    <div class="card-item pure-u-1-2">
        <div class="admin-media-details">
            <a href="{% if is_modal %}#{% else %}{{ base_url_relative }}/media-manager/{{base64_encode(file.file.filepath)}}{% endif %}" class="js__media-element" data-file-url="{{ file_url }}">
                {% if file.file.type == 'image' %}
                    <img src="{{file.file.cropZoom(300, 300).url}}" />
                {% else %}
                    {% if file_exists(base_path ~ '/system/images/' ~ file.file.thumb) %}
                        <img src="{{ base_url_relative_frontend }}/system/images/{{file.file.thumb}}" />
                    {% else %}
                        <img src="{{ base_url_relative_frontend }}/system/images/{{attribute(config.media.types, 'defaults').thumb}}" />
                    {% endif %}
                {% endif %}

                <h4 class="admin-media-title">{{ file.title }}</h4>
            </a>
        </div>
    </div>
{% endfor %}
