{% extends "forms/field.html.twig" %}

{% block input %}
    <div class="form-input-wrapper 2fa-wrapper">
        {% set two_fa = admin.get2FA() %}
        {% set value = (value is null ? two_fa.createSecret(160) : value) %}

        <img style="border: 1px solid #ddd" data-2fa-image src="{{ two_fa.getQRCodeImageAsDataUri(grav.user.email, value) }}" />
        <div class="2fa-secret" data-2fa-secret>{{ value|chunkSplit(4, ' ') }}</div>
        <button class="button button-small" data-2fa-regenerate><i class="fa fa-fw fa-refresh"></i> {{ 'PLUGIN_ADMIN.2FA_REGENERATE'|t }}</button>

        <input type="text" style="display:none;" name="{{ (scope ~ field.name)|fieldName }}" data-2fa-value value="{{ value|join(', ') }}" />
    </div>
{% endblock %}
