{% extends "forms/field.html.twig" %}

{% block global_attributes %}
    data-grav-array-name="{{ (scope ~ field.name)|fieldName }}"
    data-grav-array-keyname="{{ field.placeholder_key|e|tu }}"
    data-grav-array-valuename="{{ field.placeholder_value|e|tu }}"
    {{ parent() }}
{% endblock %}

{% macro renderer(key, content, field, scope, level, parent_key, up_level) %}

    {% macro field(value, key, level, globalvars) %}
        <div class="form-row array-field-value_only js__multilevel-field {{ level == 0 ? 'top' : '' }}"
            data-grav-array-type="row">
            <input
                type="text"
                name="{{ ('data[' ~ globalvars.field.name ~ ']') ~ key }}"
                placeholder="{{ field.placeholder_value|e|tu }}"
                style="margin-left: {{ level * 50 }}px"
                value="{{ value }}" />

            <span class="fa fa-minus js__remove-item"></span>
            <span class="fa fa-plus js__add-sibling hidden" data-level="{{level}}"></span>
            <span class="fa fa-plus-circle js__add-children hidden" data-level="{{level}}"></span>
        </div>
    {% endmacro %}

    {% if level == 0 %}
        {{ _self.field(key, '', level, _context) }}

        {% if content is not iterable %}
            {% set level2 = level + 1 %}

            <div class="children-wrapper">
                {{ _self.field(content, '[' ~ key ~ ']', level2, _context) }}
            </div>
        {% endif %}
    {% endif %}

    {% if up_level %}
        {% set level = level + 1 %}
    {% endif %}
    <div class="children-wrapper">
        {% set unique_child = (is_array(content) and content.length > 1) ? true : false %}


        {% for inner_key, inner_content in content -%}
            <div class="element-wrapper">
                {% if not is_numeric(inner_key) %}
                    {{ _self.field(inner_key, parent_key, level, _context) }}
                    {% set level2 = level + 1 %}
                    {% set up_level = true %}
                {% else %}
                    {% set up_level = false %}
                    {% set level2 = level %}
                {% endif %}

                {% if inner_content is not iterable %}

                    {% if not is_numeric(inner_key) %}
                        <div class="children-wrapper">
                            <div class="element-wrapper">
                    {% endif %}
                    {% set last_key = (is_numeric(inner_key)) ? '' : inner_key %}
                    {{ _self.field(inner_content, parent_key ~ '[' ~ inner_key ~ ']', level2, _context) }}

                    {% if not is_numeric(inner_key) %}
                            </div>
                        </div>
                    {% endif %}
                {% else %}

                    {% set inner_parent_key = parent_key ~ '[' ~ inner_key ~ ']' %}
                    {{ _self.renderer(inner_key, inner_content, field, scope, level, inner_parent_key, up_level) }}
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% block input %}
{% set unique_identifier = random_string() %}

<script>
var getField = function getField(level, name) {
    var levelMargin = level * 50;
    var top = (level == 0 ? 'top' : '');
    var field = `
         <span style="margin-left: ${levelMargin}px">${name}</span><br>

        <div class="element-wrapper">
            <div class="form-row array-field-value_only js__multilevel-field ${top}"
                data-grav-array-type="row">
                <input
                    type="text"
                    name="${name}"
                    placeholder="Enter value"
                    style="margin-left: ${levelMargin}px"
                    value="" />

                <span class="fa fa-minus js__remove-item"></span>
                <span class="fa fa-plus js__add-sibling hidden" data-level="${level}" ></span>
                <span class="fa fa-plus-circle js__add-children hidden" data-level="${level}"></span>
            </div>
        </div>
    `;

    return field;
};


var refreshControls = function refreshControls(unique_identifier) {

    var hideButtons = function hideButtons() {
        $('[data-id="' + unique_identifier + '"] .js__add-sibling').addClass('hidden');
        $('[data-id="' + unique_identifier + '"] .js__add-children').addClass('hidden');
    };

    var restoreAddSiblingButtons = function restoreAddSiblingButtons() {
        $('[data-id="' + unique_identifier + '"] .children-wrapper').each(function() {
            var elements = $(this).children();
            elements.last().each(function() {
                var field = $(this);
                if (!$(this).hasClass('js__multilevel-field')) {
                    field = $(this).find('.js__multilevel-field').first();
                }
                field.find('.js__add-sibling').removeClass('hidden')
            });
        });

        //add sibling to the last top element
        $('[data-grav-multilevel-field][data-id="' + unique_identifier + '"] .js__multilevel-field.top').last().find('.js__add-sibling').removeClass('hidden');
    };

    var restoreAddChildrenButtons = function restoreAddChildrenButtons() {
        $('[data-id="' + unique_identifier + '"] .js__multilevel-field').each(function() {
            if ($(this).siblings('.children-wrapper').length === 0 || $(this).siblings('.children-wrapper').find('.js__multilevel-field').length === 0) {
                $(this).find('.js__add-children').removeClass('hidden')
            }
        });
    };

    hideButtons();
    restoreAddSiblingButtons();
    restoreAddChildrenButtons();
};

$(document).ready(function() {
    refreshControls("{{unique_identifier}}");
});

$(document).on('click', '[data-id="{{unique_identifier}}"] .js__add-children', function(event) {
    var element = $(this);
    var level = element.data('level') + 1;

    var getParentOfElement = function getParentOfElement(element) {
        var parent = element.closest('.js__multilevel-field').parent().first();
        if (parent.find('.children-wrapper').length === 0) {
            $(parent).append('<div class="children-wrapper"></div>');
        }
        parent = parent.find('.children-wrapper').first();

        return parent;
    }

    var getNameFromParent = function getNameFromParent(parent) {
        if (parent.hasClass('children-wrapper')) {
            parent = parent.siblings('.js__multilevel-field').first().find('input');
        }
        return parent.attr('name') + '[' + parent.val() + ']';
    };

    var parent = getParentOfElement(element);
    var name = getNameFromParent(parent);
    var field = getField(level, name);

    $(parent).append(field);
    refreshControls("{{unique_identifier}}");
});

$(document).on('click', '[data-id="{{unique_identifier}}"] .js__add-sibling', function(event) {
    var element = $(this);
    var level = element.data('level');
    element.closest('.children-wrapper').find('.js__add-sibling').addClass('hidden');

    var sibling = null;
    var is_top = false;

    if (element.closest('.js__multilevel-field').hasClass('top')) {
        is_top = true;
    }

    if (is_top) {
        sibling = element.closest('.js__multilevel-field').first().find('input').last();
    } else {
        sibling = element.closest('.children-wrapper').first().find('input').last();
    }

    var getParentOfElement = function getParentOfElement(element) {
        var parent = element.closest('.js__multilevel-field').parent().first();
        if (!parent.hasClass('element-wrapper')) {
            if (parent.find('.element-wrapper').length === 0) {
                $(parent).append('<div class="element-wrapper"></div>');
            }

            parent = parent.find('.element-wrapper').first();
        }

        return parent;
    };

    var getNameFromSibling = function getNameFromSibling(sibling, is_top = false) {
        var name = sibling.attr('name');

        var last_index = name.lastIndexOf('[');
        var almost_there = name.substr(last_index + 1);
        var last_tag = almost_there.substr(0, almost_there.length - 1);

        if ($.isNumeric(last_tag)) {
            name = name.replace('[' + last_tag + ']', '[' + (parseInt(last_tag) + 1) + ']');
        } else {
            if (is_top) {
                name = name.replace('[' + last_tag + ']', '');
            } else {
                name = name + '[1]';

                //change sibling name attr if necessary
                if (sibling.attr('name').slice('-2') !== '[0]') {
                    sibling.attr('name', sibling.attr('name') + '[0]');
                }
            }
        }

        return name;
    };

    var parent = getParentOfElement(element);
    var name = getNameFromSibling(sibling, is_top);

    var field = getField(level, name);
    $(field).insertAfter(parent);

    refreshControls("{{unique_identifier}}");
});

$(document).on('click', '[data-id="{{unique_identifier}}"] .js__remove-item', function(event) {
    $(this).parents('.element-wrapper').first().remove();
    refreshControls("{{unique_identifier}}");
});

//Store old value before editing a field
$(document).on('focusin', '[data-id="{{unique_identifier}}"] input', function(event) {
    $(this).data('current-value', $(this).val());
});

//Handle field edited event
$(document).on('change', '[data-id="{{unique_identifier}}"] input', function(event) {
    var element = $(this);
    var old_value = $(this).data('current-value');
    var new_value = $(this).val();

    var changeAllChildrensNameAttributes = function changeAllChildrensNameAttributes() {
        var children = $(element).parents('.element-wrapper').first().find('.children-wrapper').find('input');

        children.each(function() {
            var child = $(this);
            child.attr('name', child.attr('name').replace(old_value, new_value));
        });
    }

    changeAllChildrensNameAttributes();
});

</script>

    {% import _self as multilevel_field %}
    <div data-id="{{unique_identifier}}" data-grav-multilevel-field data-grav-array-type="container" data-grav-array-mode="value_only"{{ value|length <= 1 ? ' class="one-child"' : '' }}>
        {% if value|length %}
            {% for key, content in value -%}
                <div class="element-wrapper">
                    {{ multilevel_field.renderer(key, content, field, scope, 0, '[' ~ key ~ ']', true) }}
                </div>
            {% endfor %}
        {%- else -%}
            {# Empty value, mock the entry field#}
            <div class="element-wrapper">
                <div class="form-row array-field-value_only js__multilevel-field"
                    data-grav-array-type="row">
                    <input
                        type="text"
                        name="{{ (scope ~ field.name)|fieldName }}"
                        placeholder="Enter value"
                        value="" />

                    <span class="fa fa-minus js__remove-item"></span>
                    <span class="fa fa-plus js__add-sibling hidden" data-level="0" ></span>
                    <span class="fa fa-plus-circle js__add-children hidden" data-level="0"></span>
                </div>
            </div>
        {%- endif %}
    </div>
{% endblock %}
